@page
@model AspNetSandbox.Pages.Shared.IndexModel

@{ ViewData["Title"] = "Index"; }

<h1>Books</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
        @foreach (var item in Model.Book)
        {
<tr id="book-@item.Id">
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Language)
    </td>
    <td>
        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>

@section scripts {
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/js/books.js"></script>
}